h1{
    background-color: aqua;
    border: 1px solid black;
    display: inline;
}
span{
    background-color: coral;
    border: 2px solid black;
    display: block;
}
#one{
    display:inline-block;
}

#two{
    display: inline-block;
}
div{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: gold;
    display: inline-block;
}

