h1{
    color: red;
    background-color: yellow;
    width:fit-content;
    text-decoration: aqua underline wavy;
}
button{
    font-size: large;
    background-color: green;

}
p{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
}
h2{
    text-decoration: line-through wavy;
    text-align: right;
    font-weight: lighter;
}
/*to remove the underline from links*/
a{
text-decoration: none;
}
